@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Rajdhani", sans-serif;
  font-size: 12px;
  box-sizing: border-box;
  color: white;
}

body {
  height: 100svh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;
}

.kotak {
  background-color: red;
  width: 130%;
  height: 20%;
  position: relative;
}
.border {
  border: 2px solid #fb2576;
  height: 97%;
  width: 97%;
  overflow: hidden;
}

nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  & h1 {
    font-size: 2rem;
  }
}

ul {
  list-style: none;
  display: flex;
  gap: 5vw;

  & li:hover {
    border-bottom: 2px solid white;
    position: relative;
    margin-bottom: -2px;
    transition: 250ms;
  }

  & a:first-child li {
    border-bottom: 2px solid white;
    position: relative;
    margin-bottom: -2px;
  }
}

li {
  width: 128px;
  font-size: 4em;
  text-align: center;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

.circle {
  /* height: 2em;
  width: 2em; */
  border-radius: 100%;
  border: 2px solid #ffffff;
  display: inline-block;
  animation: droplet 8s ease-in-out;

  position: absolute;
}

@keyframes droplet {
  0% {
    width: 0.1em;
    height: 0.1em;
  }

  50% {
    transform: scale(10);
  }

  100% {
    opacity: 0%;
  }
}

.type-effect {
  animation: type 1s ease-in-out;
}

@keyframes type {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 676px) {
  ul {
    flex-direction: column;
  }

  .line-1 {
    top: 20%;
  }

  nav {
    align-items: center;
    margin-top: -2vh;
  }
}
